In [1]:
import pandas as pd

In [2]:
full_data = pd.read_csv("chess_games.csv")
print('Column Values: ', full_data.columns.values)

Column Values:  ['game_id' 'rated' 'turns' 'victory_status' 'winner' 'time_increment'
 'white_id' 'white_rating' 'black_id' 'black_rating' 'moves'
 'opening_code' 'opening_moves' 'opening_fullname' 'opening_shortname'
 'opening_response' 'opening_variation']

In [5]:
full_data.shape

(20058, 17)

In [39]:
useful_data = full_data[["rated", "turns", "white_rating", "black_rating", "opening_moves", "winner"]]
useful_data.head()

   rated  turns  white_rating  black_rating  opening_moves winner
0  False     13          1500          1191              5  White
1   True     16          1322          1261              4  Black
2   True     61          1496          1500              3  White
3   True     61          1439          1454              3  White
4   True     95          1523          1469              5  White

In [40]:
len(useful_data)

20058

In [28]:
def divide_data_random(data):
    group_1 = round((20/100)* len(data)) -1 
    group_2 = round((50/100) * len(data)) -1
    group_3 = round((30/100) * len(data)) -1
    g1 = full_data.iloc[:group_1]
    g2 = full_data.iloc[group_1:group_2]
    g3 = full_data.iloc[group_2:]
    return g1,g2,g3

In [ ]:
def train_models(data):

In [ ]:
Y = useful['class']
X = data.drop(['class'],axis=1)
con1,con2,con3 = divide_data_random(usefull_data)